In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Titanic-Dataset.csv')

print(" First 5 Rows:")
print(df.head())

 First 5 Rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
print("\n Summary Statistics:")
print(df.describe())

 Summary Statistics:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
print("\n Selected Columns (Name, Age, Survived):")
print(df[['Name', 'Age', 'Survived']].head())

 Selected Columns (Name, Age, Survived):
                                                Name   Age  Survived
0                            Braund, Mr. Owen Harris  22.0         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0         1
2                             Heikkinen, Miss. Laina  26.0         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0         1
4                           Allen, Mr. William Henry  35.0         0

In [5]:
print("\n Missing Values Before:")
print(df.isnull().sum())

 Missing Values Before:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df = df.dropna(subset=['Embarked'])
df = df.drop_duplicates()

In [7]:
older_passengers = df[df['Age'] > 50]
print("\n Passengers older than 50:")
print(older_passengers[['Name', 'Age', 'Survived']])

 Passengers older than 50:
                                                  Name   Age  Survived
6                              McCarthy, Mr. Timothy J  54.0         0
11                            Bonnell, Miss. Elizabeth  58.0         1
15                    Hewlett, Mrs. (Mary D Kingcome)   55.0         1
33                               Wheadon, Mr. Edward H  66.0         0
54                      Ostby, Mr. Engelhart Cornelius  65.0         0
..                                                 ...   ...       ...
774              Hocking, Mrs. Elizabeth (Eliza Needs)  54.0         1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  52.0         1
851                                Svensson, Mr. Johan  74.0         0
857                             Daly, Mr. Peter Denis   51.0         1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0         1

[63 rows x 3 columns]

In [8]:
grouped = df.groupby('Pclass').agg({
    'Age': 'mean',
    'Survived': 'mean'
})
print("\n Grouped by Pclass (Average Age and Survival Rate):")
print(grouped)

 Grouped by Pclass (Average Age and Survival Rate):
              Age  Survived
Pclass
1       36.688879  0.626168
2       29.765380  0.472826
3       25.932627  0.242363

In [9]:
# Simulate merging with another dataset (e.g., passenger contact info)
contact_info = pd.DataFrame({
    'PassengerId': [1, 2, 3, 4, 5],
    'Email': ['a@x.com', 'b@x.com', 'c@x.com', 'd@x.com', 'e@x.com']
})

In [10]:
# Merge datasets on PassengerId
merged_df = pd.merge(df, contact_info, on='PassengerId', how='left')

print("\n Merged Dataset Sample:")
print(merged_df[['PassengerId', 'Name', 'Email']].head())

 Merged Dataset Sample:
   PassengerId                                               Name    Email
0            1                            Braund, Mr. Owen Harris  a@x.com
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...  b@x.com
2            3                             Heikkinen, Miss. Laina  c@x.com
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  d@x.com
4            5                           Allen, Mr. William Henry  e@x.com